<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <title> WebPack Sample </title>


    <script type="text/x-template" id="item">
        <li class="list-group-item text-center"
            v-bind:class='[{"btn": checkable},{"list-group-item-info": selected}]'
            v-on:click="Select"
            v-on:mouseover="ActiveRemove"
            v-on:mouseout="DisableRemove">

            <button v-if="!readOnly"
                    class="btn glyphicon glyphicon-remove btn-xs pull-left invisible disabled" />

            {{item}}

            <button v-if="!readOnly"
                    class="btn glyphicon glyphicon-remove btn-danger btn-xs pull-right"
                    v-bind:class="{'invisible disabled': !removeActive}"
                    v-on:click.stop="Remove" />
        </li>
    </script>

    <script type="text/x-template" id="add-item">
        <li class="list-group-item text-center">
            <form class="input-group" v-on:submit.prevent="Add">
                <input type="text" class="form-control" v-bind:placeholder="placeholder" v-model="newItem">
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-default" value="Add" />
                </span>
            </form>
        </li>   
    </script>

    <script type="text/x-template" id="collection">
        <ol class="list-group">
            <li class="list-group-item list-group-item-heading active text-center">
                {{ title }}
            </li>
            <add-item v-if="!readOnly"
                      v-bind:placeholder="placeholder"
                      v-on:add="Add" />
            <item v-bind:selectedItem="selectedItem"
                  v-bind:checkable="checkable"
                  v-on:remove="Remove"
                  v-for="item in collection"
                  v-bind:item="item"
                  v-on:item-selected="SelectItem"
                  v-bind:readOnly="readOnly" />
        </ol>
    </script>

    <script type="text/x-template" id="organization">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <collection title="Users"
                                              v-bind:readOnly="readOnly"
                                              v-bind:collection="collection"
                                              v-bind:selectedItem="selectedItem"
                                              v-on:item-selected="SelectItem"
                                              v-on:add="Add"
                                              v-on:remove="Remove"
                                              checkable="true"
                                              placeholder="new User" />
                </div>
            </div>
        </div>    
    </script>
</head>
<body>

    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    
    <template id="app">
    </template>

    <script src="/dist/build.js"></script>
</body>
</html>